.my-appointment-table-container {
  margin: 20px;
}

.my-appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.my-appointment-table th,
.my-appointment-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}

.my-appointment-table th {
  background-color: #f2f2f2;
}
