@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&family=Yeseva+One&display=swap");

.ServiceDetails-Container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.ServiceDetails-Container img {
  border-radius: 5px;
}

.ServiceDetails-Content {
  margin-top: -1em;
  max-width: 50%;
  line-height: 2;
  font-family: "Work Sans", sans-serif;
}

.ServiceDetails-Content h1 {
  font-size: 35px;
  color: #1f2b6c;
  font-family: "Yeseva One", serif;
}
