.AppointmentViews-Container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.AppointmentViews-Text {
  display: flex;
  flex-direction: column;
}

.AppointmentViews-Text h1 {
  font-family: "Yeseva One", cursive;
  font-size: 32px;
  color: #1f2b6c;
}

.AppointmentViews-Text p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  max-width: 450px;
  padding-bottom: 40px;
}
